.list-membership {
    border:1px solid #47b2e4;
    color:white; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    margin-left: 20px;
    width:150px;
    height:40px;
    cursor: pointer;
  }
  
  .membership-section {
    width:100% !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;

  }
  .modal-show {
    visibility: hidden;
    z-index: 999;
    position: fixed;
    top:60px;
    left:0;
    width:50%;
    display:flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height:200px;
    background-color: rgba(226, 226, 226, 0.651) !important;
  }
  .sign-up-container {
    width:350px;
    background-color: #FFFFFF;
    color:black;
    padding:20px;
    margin: auto;
    font-size:13px;
    /* border: 1px solid #707070; */
    border-radius: 10px;
    margin: auto;
    height: 70vh;
    overflow-y: scroll;
    margin-top: 50px;
  }
  .logo-design{
    display: flex;
    gap:1em;
  }
  .designNav{
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .sign-up-container .flex input, .sign-up-container select{
    width:90%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid gray;
    padding-left: 10px;
  }
  .sign-up-container .flex .Eye2, .sign-up-container .flex .hide2{
    right: 30px;
    top:35px;
    cursor: pointer;
  }
  .sign-up-container form{
    display: flex;
    flex-direction: column;
    gap:0.5em;
    font-size:11px;
  
  }
  .sign-up-container form p{
    text-align: center;
  }
  .sign-up-container select{
  
  }
  .checkers{
    width:15px;
    height:15px;
  }
  .check-flex{
    display: flex;
    align-items: center;
    gap:1em;
  }
  .create-acct{
    background-color: #a55e5ea4;
    border-radius: 24px;
    opacity: 1;
    border: none;
    width:100%;
    height:30px;
    color:white;
    margin-top: 20px;
    cursor: pointer;
  }
  hr{
    margin: 0;
  }
  .top{
    display: none;
  }
  .modal-new{
    visibility: visible;
    z-index: 999;
  }
.Duration{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.flex{
    display: flex;
    flex-direction: column;
}
.galerry{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2em;
    margin-bottom: 20px;
}
.extraNav{
    background-color: rgba(40, 58, 90, 0.9) !important;
}
.margin{
    margin-top: 100px;
}
.color{
    color:black !important;
    display: block !important;
}
@media only screen and (max-width:395px){
    .galerry img{
        width:90%;
    }
}